.pokemonHighlight_title{
    color:$gray-200;
    font-size: 3em;
    font-family:'Noto';
}
#pokemonHighlight_image{
    animation:walk 15s ease-in infinite;
    max-height: 50vh;
}

@keyframes walk {
    from{
        transform:translateX(0) rotate(0deg);
    }
    25%{
        transform:translateX(-20vw) rotate(3deg);
    }
    
    75%{
        transform:translateX(20vw) rotate(-3deg);
    }
    
    to{
        transform:translateX(0) rotate(0deg);
    }
}