#Homepage_simulator-container{
    width:100vw;
    overflow: hidden;
    #Homepage_simulator-bg{
        height: 100vh;
        width:100%;
        background-image: url('https://res.cloudinary.com/viviennoel07/image/upload/c_scale,h_524,q_37/v1645173187/pokemon/bg_pokemon_iptmiw.jpg');
        background-position: center;
        background-size: cover;
        animation:appears 20s ease-in-out infinite;
    }
    .wrapper{
        position: absolute;
        top: 14vh;
        // left: 5vh;
        img{
            animation:rotate 20s ease-in-out infinite;
        }
        .simulator_preview-img{
            animation:none;
            max-height: 35vh;
        }
    }
    .simulator_preview{
        width:80vw;
        // left:10vw;
        color:$gray-500;
    }
    .Homepage_SearchBar{
        position:absolute;
        top:90vh;
        max-width:90vw;
        // left:5vw;
    }
}

@media (min-width: 768px) { 
    #Homepage_simulator-bg{
        height: 50vh !important;
    }
    .Homepage_SearchBar{
        top:50vh !important;
    }
}

@keyframes appears {
    from{
        opacity:0.1;
        transform:scale(1);
    }
    50%{
        opacity:0.9;
        transform:scale(1.5);
    }
    to{
        opacity:0.1;
        transform:scale(1);
    }
}

@keyframes rotate {
    from{
        transform: rotate(0deg);
    }
    to{
        transform: rotate(360deg);
    }
}